Package: iarmmgrs
Version: 1.99+git0+3a73ed5a39_3a73ed5a39occonf-r0.0
Description: IARMMGRS applications
 IARMMGRS applications.
Section: console/utils
Priority: optional
Maintainer: CPE SI Yocto Team <CCP_CPESI-YOCTO@cable.comcast.com>
License: CLOSED
Architecture: mips32el
OE: iarmmgrs
Depends: libgcc1 (>= 4.8.2), libssl1.0.0 (>= 1.0.1j), libsystemd0 (>= 216+git0+5d0ae62c66), libcrypto1.0.0 (>= 1.0.1j), libdbus-1-3 (>= 1.6.18), libstdc++6 (>= 4.8.2), libds-hal0 (>= 1.99+git0+bd03e8609b), libcurl4 (>= 7.35.0), yajl (>= 1.0.9), libc6 (>= 2.19), libglib-2.0-0 (>= 2.38.2), virtual/mfrlib, iarmmgrs-hal-broadcom (>= 1.99+git0+48fab28629), iarmbus (>= 1.99+git0+2657461332), broadcom-refsw (>= trinity-unified-13.2)
Recommends: update-rc.d
Source: git://gerrit.teamccp.com:29418/rdk/components/generic/iarmmgrs/generic;protocol=ssh;branch=master;name=iarmmgrs git://gerrit.teamccp.com:29418/rdk/components/generic/iarmmgrs/soc/broadcom/common;protocol=ssh;branch=master;destsuffix=git/soc;name=iarmmgrsocconf
